ul {
    list-style: none;
    padding: 0 10px;
}

ul li {
    border-bottom: 1px solid  #eee;
    overflow: hidden;

}

.avatar-group {
    width: 38px;
    height: 100%;
    float: left;
}

.avatar-group .avatar {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin-top: 25%;
}

.question-group {
    float: left;
    width: 660px;
    margin-left: 10px;
}

.question-title {
    padding-top: 5px;
    font-weight: 700;
    margin-bottom: 5px;
}

.question-info {
    text-align: right;
    margin-bottom: 15px;
}
.question-info span{
    padding: 0 5px;
}
.question-author {
    margin-right: 10px;
}
